*
{
  font-family: monospace;
}

#header input#word
{
  height: 36px;
  font-size: 28px;
  border: 1px dashed lightgrey;
  border-bottom: 2px solid black;
}

#header input#word:focus
{
  background-color: yellow;
}

img.svg
{
  display: none;
}

.pronunciation-block
{
  position: relative;
  height: auto;
  margin: 10px;
  padding: 10px 10px 10px 80px;
  border: 1px solid #D0D0D0;
  background-color: #F9F9F9;
  min-height: 200px;
}

.pronunciation-block .leftbar
{
  position: absolute;
  left: 10px;
  width: 60px;
  overflow: hidden;
  margin-right: 10px;
}

.pronunciation-block .rating
{
  text-align: center;
  font-size: 32px;
  margin-bottom: 8px;
}

.pronunciation-block .vote
{
  text-align: center;
}

.pronunciation-block .vote svg
{
  height: 50%;
  width: 50%;
  cursor: pointer;
}

.pronunciation-block .vote svg path
{
  fill: lightgrey;
}

.pronunciation-block .vote svg.selected path
{
  fill: black;
}

.pronunciation-block .vote svg:hover path
{
  fill: red;
}

.pronunciation-block .pronunciation
{
  font-weight: bold;
}

.pronunciation-block .ipa
{
  font-style: italic;
}

.pronunciation-block .description
{
}

div#footer
{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  font-size: small;
  padding: 0;
}

div#footer #leftfoot
{
  float: left;
  padding: 2px;
}

div#footer #rightfoot
{
  float: right;
  padding: 2px;
}

.smallpercent
{
  font-size: 0.5em;
  vertical-align: super;
}
